body{
  background-color: white;
}
 .img2{
  text-align: center;
} 
 .notifications-container {
   width: 320px;
   height: auto;
   font-size: 0.875rem;
   line-height: 1.25rem;
   display: flex;
   flex-direction: column;
   gap: 1rem;
   padding-left: 50px;
   padding: 8px;
 }
 
 .flex {
   display: flex;
 }
 
 .flex-shrink-0 {
   flex-shrink: 0;
 }
 
 .success {
   padding: 1rem;
   border-radius: 0.390rem;
   background-color:rgb(247, 247, 247);
   ;
 }
 
 .succes-svg {
   color: rgb(5, 0, 0);
   width: 1.25rem;
   height: 1.25rem;
 }
 
 .success-prompt-wrap {
   margin-left: 0.75rem;
 }
 
 .success-prompt-heading {
   font-weight: bold;
   color: rgb(7, 0, 0);
 }
 
 .success-prompt-prompt {
   margin-top: 0.5rem;
   color: rgb(6, 0, 0);
 }
 
 .success-button-container {
   display: flex;
   margin-top: 0.875rem;
   margin-bottom: -0.375rem;
   margin-left: -0.5rem;
   margin-right: -0.5rem;
 }
 
 .success-button-main {
   padding-top: 0.375rem;
   padding-bottom: 0.375rem;
   padding-left: 0.5rem;
   padding-right: 0.5rem;
   background-color:transparent;
   color: rgb(8, 0, 0);
   font-size: 0.875rem;
   line-height: 1.25rem;
   font-weight: bold;
   border-radius: 0.375rem;
   border: none
 }
 
 .success-button-main:hover {
   background-color: #969494;
 }
 
 
 